.boolean-question {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.boolean-question::before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    border: 10px solid rgb(64, 10, 107);
    border-radius: 12px;
    z-index: -1;
}

.boolean-question h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ffffff;
}

.boolean-question form div {
    margin-bottom: 10px;
}

.boolean-question input[type="radio"] {
    display: none;
}

.boolean-question label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 2em;
    color: #ffffff;
}

.boolean-question label:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #731384;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 3px;
}

.boolean-question input[type="radio"]:checked + label:before {
    background-color: #731384;
    border-color: #731384;
}

.boolean-question button[type="button"],
.boolean-question button[type="submit"],
.boolean-question button[type="button"]:hover,
.boolean-question button[type="submit"]:hover,
.boolean-question button[type="button"]:disabled,
.boolean-question button[type="submit"]:disabled,
.boolean-question button[type="button"]:disabled + button,
.boolean-question .next-button {
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #731384;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.boolean-question button[type="button"]:hover,
.boolean-question .next-button:hover,
.boolean-question button[type="submit"]:hover {
    background-color: rgb(255, 51, 0);
}

.boolean-question .next-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.boolean-question p {
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #ffffff;
}

.boolean-question .correct {
    color: #27ae60;
}

.boolean-question .incorrect {
    color: #c0392b;
}

.hearts {
    font-size: 24px; 
    color: red; 
}