.mcq-game {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    background-color: transparent;
    font-family: Arial, sans-serif;
}

.mcq-game::before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    border: 10px solid rgb(64, 10, 107);
    border-radius: 12px;
    z-index: -1;
}

.mcq-game h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ffffff;
}

.mcq-game div {
    margin-bottom: 10px;
}

.mcq-game input[type="radio"] {
    display: none;
}

.mcq-game label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 2em;
    color: #ffffff;
}

.mcq-game label:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #731384;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 3px;
}

.mcq-game input[type="radio"]:checked + label:before {
    background-color: #731384;
    border-color: #731384;
}

.mcq-game button {
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #731384;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.mcq-game button:hover {
    background-color: rgb(255, 51, 0);
}

.mcq-game p {
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #ffffff;
}

.mcq-game .correct {
    color: #27ae60;
}

.mcq-game .incorrect {
    color: #c0392b;
}