* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(0, 0, 0);
  align-items: center; 
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: rgb(164, 15, 107);
}

.container {
  padding: 20px;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'Audiowide', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('https://i.pinimg.com/originals/2f/ba/e2/2fbae2ad170f1f14721c8e5b4bb0afb6.gif');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

header {
  width: 100%; 
  text-align: center; 
}