* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ddd;
}

.container {
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.boolean-game, .mcq-game, .admin-page, .logout-page {
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
